<html>
  <head>
    <title><%= @page.title || "Soy Demo Site" %></title>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header class="flex-center">
        <% link_to :root do %>
          <img src="/tofu.png" />
        <% end %>

        <span class="bold">
          <%= link_to(path_for(:root), "Soy Demo Site", class: "anchor-plain") %>
        </span>

        <nav class="main-nav">
          <%= link_to(path_for(:root), "Home") %>
          <%= link_to(path_for(:about), "About") %>
          <%= link_to(path_for(:neat), "Neat") %>
          <%= link_to(path_for(:post, slug: "hello-world"), "Hello World") %>
        </nav>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
